.messagesOverView{
    max-height: 400px;
    margin-bottom: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

}

.wholeChat{
  padding-top: 40px;
   width: 600px;
}

.list-group-item{
  background: -webkit-gradient(linear, left bottom, left top, from(#FFA69E), to(#98639C));
  background: -webkit-linear-gradient(bottom, #FFA69E 0%, #98639C 100%);
  background: -moz-linear-gradient(bottom, #FFA69E 0%, #98639C 100%);
  background: -o-linear-gradient(bottom, #FFA69E 0%, #98639C 100%);
  background: linear-gradient(to top, #FFA69E 0%, #98639C 100%);
}

.chatitem{
background: #fff;
}

.mb-4{
color: #fff;
}