
/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
.listItem {
  cursor: pointer;
  width: 600px;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #ffffff;
  font-size: 18px;
  transition: 0.2s;
  border: 1px solid #e6f2ff;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
/* not using this since I didn't like it - LM */
<!--ul li:nth-child(odd) {-->
<!--  background: #e6f9ff;-->
<!--}-->

/* Darker background-color on hover */
.listItem:hover {
  background: #EDF5FF;
}

/* When clicked on, add a background color and strike out text */
.listItem.checked {
  background: #fff;
  color: #737373;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.listItem.checked::before {
  content: '';
  position: absolute;
  border-color: #33cc00;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #EB4511;
  color: white;
}

/* Style the header */
.header {
  width: 600px;
  background-color: #8FB8DE;
  border-radius: 30px 30px 0px 0px;
  padding: 20px 30px;
  color: white;
  text-align: center;
}

/* Style the footer */
.footer {
  width: 600px;
  background-color: #8FB8DE;
  border-radius: 0px 0px 15px 15px;
  padding: 20px 30px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Clear floats after the footer */
.footer:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #9851A3;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

/* Style the "removeChecked" button */
.checkDBtn {
  padding: 10px;
  width: 40%;
  background: #8FB8DE;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

/* Style the "removeAll" button */
.removeBtn {
  padding: 10px;
  width: 40%;
  background: #9851A3;
  color: #ffffff;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #4d94ff;
}